/*
	Base CSS
*/

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.debug {
	border: 2px solid #ff0000;
}

.clear {
	clear: both;
}

#branding {
	background-color: #2D2F34;
	color: #cccccc;
	z-index: 9999;
}

.trigger1 {
	position: absolute;
	width: 100%;
	top: 15px;
}

.hidden {
	display: none;
}

.splitter {
	height: 100px;
}

#badges .icon {
	text-align: center;
	display: block;
}

#badges .text {
	display: block;
	text-align: justify;
	margin-top: 10px;
}

#badges .text p:first-letter {
	margin-left: 10px;
}
.col-centered{
    float: none;
    margin: 0 auto;
}

.wraper {
	background-color: #F2F2EC;
	width: 100%;
	float: none;
	margin: 0 auto;
}

#sidebar-bottom-copirght {
	margin-top: 20px;
}

.no-padding {
   padding: 0;
}

#posts img {

}

#posts h1 {
	margin-left: 25px;
	text-align: center;
}

#posts #single-post {
	margin-top: 10px;
	margin-left: 10px;
	background-color: #ffffff;
	margin-bottom: 50px;
}

#posts #post-excerpt {
	margin-top: 5px;
	padding-left: 35px;
	padding-right: 25px;
	text-align: justify;
}

#posts #post-excerpt p:first-letter {
	margin-left: 15px;
}
#posts #post-read-more {
	padding-left: 35px;
}

#posts .author {
	text-align: center;
}
#posts .author hr {
	width: 80%;
}
#posts .author a {
	display: inline-block;
	font-weight: bold;
}

#posts #post-tags ul {
	width: 99%;
	border-top: 1px solid #DDD;
	margin: auto;
	margin-top: 10px;
}

#posts #post-tags li {
	display: block;
	float: left;
	margin-top: 0px;
	margin-right: 6px;
	background: #F2F2EC;
	border-bottom: #ddd;
	border-left: #ddd;
	border-right: #ddd;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	font-size: 10pt;
	text-shadow: 1px 1px #ddd;
}

#posts #post-tags li a {
	color: #333;
}

#posts .postinfo {
	margin-left: 25px;
	margin-top: 35px;
	margin-bottom: 15px;
}

#posts .date {
	margin-left: 6px;
	margin-bottom: 0;
	padding-bottom: 0;
	display: inline;
	font-size: 12pt;
	font-style: italic;
}

#posts .comments {
	margin-left: 6px;
	margin-bottom: 0;
	padding-bottom: 0;
	display: inline;
	font-size: 12pt;
	font-style: italic;
}

#sidebar-right {
	padding-top: 0;
	margin-top: 0;
}

#sidebar-right .widget {
	background: #ffffff;
	padding: 1px 10px 5px 10px;
	text-align: justify;
	margin-bottom: 10px;
	margin-right: 15px;
	margin-top: 10px;
}

#sidebar-right .widget h2{
	text-align: left;
}

img.alignleft {
	float: left;
	margin: 10px 15px 5px 0;
}
img.alignright {
	float: right;
	margin: 10px 0 5px 15px;
}
img.aligncenter {
	margin: 10px auto;
	text-align: center;
	display: block;
}

.content {
	margin-top: 5px;
	padding-left: 35px;
	padding-right: 35px;
}

#comment-form {
	padding-left: 25px;
}

#comment-form ol {
	background-color: #F2F2EC;
	margin-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.even {
	background-color: #DADAD4;
	margin: 10px 15px 0px 15px;
	text-align: justify;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
}
.odd {
	background-color: #F8F8F7;
	margin: 10px 15px 0px 15px;
	text-align: justify;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
}