/*
	Base CSS
*/

.debug {
	border: 2px solid #ff0000;
}

.clear {
	clear: both;
}

#branding {
	background-color: #2D2F34;
	color: #cccccc;
	z-index: 9999;
}

.trigger1 {
	position: absolute;
	width: 100%;
	top: 15px;
}

.hidden {
	display: none;
}

.splitter {
	height: 100px;
}

#badges .icon {
	text-align: center;
	display: block;
}

#badges .text {
	display: block;
	text-align: justify;
	margin-top: 10px;
}

#badges .text p:first-letter {
	margin-left: 10px;
}
.col-centered{
    float: none;
    margin: 0 auto;
}

.wraper {
	background-color: #F2F2EC;
	width: 100%;
	float: none;
	margin: 0 auto;
}

#sidebar-bottom-copirght {
	margin-top: 20px;
}

.no-padding {
   padding: 0;
 }