
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	#main-nav {
		float: right;
		padding: 15px;
	}
	#main-nav ul    {
		float: right;
		margin: 0; 
		padding: 0; /* only needed if you have not done a CSS reset */
	}
	#main-nav li	{
		display: block;
		float: left;
		line-height: 30px; /* this should be the same as your #main-nav height */
		height: 30px; /* this should be the same as your #main-nav height */
		margin: 0; padding: 0; /* only needed if you don't have a reset */
		position: relative; /* this is needed in order to position sub menus */
	}
	#main-nav li a  {
		color: #fff;
		display: block;
		padding: 0 15px;
		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;
	}
	#main-nav .current-menu-item a, #main-nav .current_page_item a, #main-nav a:hover {
		color: #8692fd;
		text-decoration: none;
	}

	#main-nav ul ul { /* this targets all sub menus */
		display: none; /* hide all sub menus from view */
		position: absolute;
		top: 30px; /* this should be the same height as the top level menu -- height + padding + borders */
	}
	#main-nav ul ul li { /* this targets all submenu items */
		float: none; /* overwriting our float up above */
		width: 150px; /* set to the width you want your sub menus to be. This needs to match the value we set below */
		background-color: #2D2F34;
		color: #cccccc
	}
	#main-nav ul ul li a { /* target all sub menu item links */
		padding: 5px 10px; /* give our sub menu links a nice button feel */
	}
	#main-nav ul li:hover > ul {
		display: block; /* show sub menus when hovering over a parent */
	}

	#main-nav ul ul li ul {
		/* target all second, third, and deeper level sub menus */
		left: 150px; /* this needs to match the sub menu width set above -- width + padding + borders */
		top: 0; /* this ensures the sub menu starts in line with its parent item */
	}
	
	/* Time for some logo magic */
	#branding #logo {
		padding: 15px;
		color: #cccccc;
	}
	#branding #logo a {
		color: #FFFFFF;
		line-height: 30px; /* this should be the same as your #main-nav height */
		height: 30px; /* this should be the same as your #main-nav height */
		margin: 20px;
		font-size: 25px;
		font-weight: bold;
	}
	#branding #logo a:hover{
		color: #FFFFFF;
		text-decoration: none;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	/* we don't need stuck!! */
	.stuck {
		position: fixed;
		top: 0;
		width: 100%;
		height: 45px;
	}

	.stuck #main-nav li {
		line-height: 15px; /* this should be the same as your #main-nav height */
		height: 15px; /* this should be the same as your #main-nav height */
	}
	.stuck #logo {
		padding-top: 10px;
		line-height: 15px; /* this should be the same as your #main-nav height */
		height: 15px; /* this should be the same as your #main-nav height */
	}
	.stuck #logo a{
		padding-top: 10px;
		line-height: 15px; /* this should be the same as your #main-nav height */
		height: 15px; /* this should be the same as your #main-nav height */
	}
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

