#latest p{
	font-size: 32pt;
	font-weight: bold;
	color: #293D66;
}

.title {
	display: block;
	text-align: center;
	font-weight: bold;
	font-size: 16pt;
}
#posts  .card .title {
	display: block;
	font-weight: bold;
	font-size: 12pt;
}
#posts .excerpt {
	text-align: justify;
}
#posts .excerpt p:first-letter {
	margin-left: 7px;
}
#posts img {
	max-width: 100%;
	padding: 5px;
}

#posts .card {
	height: 640px;
}